/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.description{
    text-align: center;
}

.btn-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-link:hover {
    background: #45a049;
}

/* Image Uploading Section */
.Image-Uploading-Area {
    text-align: center;
    margin-bottom: 20px;
}



button {
    padding: 10px 15px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #007bb5;
}
